
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px 5px 5px 5px ;
    padding: 0 10% 0 10%;
}

header{
    font-size: 40px;
    color: #00795b;
    padding: 0 0 10px 0;
}

.container{
    display: flex;
    flex-flow: column;
}

/*user list*/ 
.results{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

/*repositories list*/ 
.repositories{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
}

.user{
    border: 1.5px solid #525353;
    border-radius: 3px;
    padding: 10px;
    margin: 20px 20px 20px 0px;
    width: 500px; 
    display: flex;
    flex-flow: row;
}

.userInfo{
    padding: 0px 10px 0px 20px;
}

.userName{
    font-size: 25px;
    color: #007179;
    margin: 0 !important;
}

.userImage{
    height: 150px;
    width: 150px;
}

.repository{
    border: 1.5px solid #525353;
    border-radius: 3px;
    padding: 10px;
    margin: 20px 20px 20px 0px;
    width: 500px; 
    display: flex;
    flex-flow: column;
}

.repoData{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    font-size: 18px;
    color: #007179;
}

/*added to button*/
.linkToButton{
    width: 150px;
    padding: 10px;
    margin: 5px 5px 5px 0px;
    border-radius: 3px;
    border-style: unset;
    background-color: #058585;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.backButton{
    width: 150px;
    padding: 10px;
    margin: 5px 5px 5px 0px;
    border-radius: 3px;
    border-style: unset;
    background-color: #058585;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}

.btnLinks{
    padding: 10px 0 0 0;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
}

.pFix{
    margin: 5px !important;
}